body{
  margin: 0;
  background-color: hsl(30, 38%, 92%);
}

*{
  margin: 0;
  padding: 0;
}
/* font-family: 'Fraunces',
serif;
font-family: 'Montserrat', sans-serif; */
.card{
  border-radius: 10px;
  width: 540px;
  height: 388px;
  background-color: white;
  display: flex;
  gap: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card img{
  float: left;
  border-radius: 10px;

  height: 388px;
}
.btn img{
  height: 18px;
  position: relative;
  top: 25%;
  right: 6%;
}
.btn{
  background-color: hsl(158, 36%, 37%);
  height: 45px;
  width: 200px;
  border-radius: 5px;
  margin-top: 8%;
  display: flex;
  justify-content: center;
}
.btn a{
  text-decoration: none;
  color: white;
  font-size: 13px;
  position: relative;
  top: 25%;
  font-family: 'Montserrat', sans-serif;
}
.right-cln{
  height: 388px;
  display: inline-block;
}
.big-text{
  width: 200px;
  text-align: left;
  font-size: 30px;
  font-family: 'Fraunces', serif;
  color: hsl(212, 21%, 14%);
  padding-top: 15px;
}
.pera, .perfume{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: hsl(228, 12%, 48%);
}
.pera{
  word-spacing: 1px;
  font-size: 13px;
  text-align: left;
  line-height: 20px;
  padding-top: 12px;
  width: 90%;
}
.perfume{
  font-size: 10px;
  letter-spacing: 4px;
  padding-top: 20px;
}
.price-tags{
  display: flex;
  gap: 15px;
}
.big-price{
  font-family: 'Fraunces', serif;
  font-size: 30px;
  color: hsl(158, 36%, 37%);
  padding-top: 15px;
 }
.small-price{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color: hsl(228, 12%, 48%);
  padding-top: 25px;
}
.btn:hover{
  cursor: pointer;
}
.mobile{
  display: none;
}
.btn:active{
  background-color: hsl(159, 33%, 35%);
}
@media only screen and (max-width: 768px){
  *{
    margin: 0;
    padding: 0;
    /* border: 2px solid yellow; */
  }
  .card {
      border-radius: 10px;
      background-color: white;
      height: 590px;
      display: block;
      width: 350px;
    }
    .card .desktop{
      display: none;
    }
    .card .mobile {
      border-radius: 10px;
      height: 243px;
      display: inline-block;
     
    }
  
    .btn img {
      height: 18px;
      position: relative;
      top: 25%;
      right: 6%;
    }
  
    .btn {
      background-color: hsl(158, 36%, 37%);
      height: 45px;
      width: 300px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      margin-bottom: 80px;
    }
  
    .btn a {
      text-decoration: none;
      color: white;
      font-size: 13px;
      position: relative;
      top: 25%;
      font-family: 'Montserrat', sans-serif;
    }
  
    .right-cln {
      display: inline-block;
      width: 90%;
      margin-left: 26px;
    }
  
    .big-text {
      width: 80%;
      text-align: left;
      font-size: 30px;
      font-family: 'Fraunces', serif;
      color: hsl(212, 21%, 14%);
      padding-top: 15px;
    }
  
    .pera,
    .perfume {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      color: hsl(228, 12%, 48%);
    }
  
    .pera {
      word-spacing: 1px;
      font-size: 13px;
      text-align: left;
      line-height: 20px;
      padding-top: 12px;
      width: 76%;
    }
  
    .perfume {
      font-size: 10px;
      letter-spacing: 4px;
      padding-top: 20px;
    }
  
    .price-tags {
      display: flex;
      gap: 15px;
    }
  
    .big-price {
      font-family: 'Fraunces', serif;
      font-size: 30px;
      color: hsl(158, 36%, 37%);
      padding-left: 15px;
      padding-bottom: 0;
    }
  
    .small-price {
      font-size: 15px;
      font-family: 'Montserrat', sans-serif;
      color: hsl(228, 12%, 48%);
      padding-top: 25px;
    }
  
    .btn:hover {
      cursor: pointer;
    }
  
    .btn:active {
      background-color: hsl(159, 33%, 35%);
    }
}